h2{
    margin-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.library-container{
    display: flex;
}

.library-container{
    margin: auto;
    width: 1200px;
    
}

.library-title{
    margin:auto;
    width: 1200px;
    padding: 0px 30px;
    h2{
        padding-bottom: 0px;
    }
}

.book-category-sidebar{
    margin-right: 20px;
    height: 100%; 
    border: solid 1px rgb(232, 225, 225);
    padding-top: 5px;
}

.book-categories{
    margin-top: 0px;
    padding: 0px;
}

.category-list-item{
    list-style: none;
    font-family:"Merienda";
    color: hsl(206.27deg 100% 30%);
    font-weight:lighter;
    padding: 8px 20px;
    cursor: pointer;
    h3{
        font-size: 1.17em;
        margin: 0px;
    }
}

.category-list-item:hover{
    background-color: #f0a652;
    color: white;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
}


.book{
    width: 200px;
    background-color: #f0f0f0; /* Color de fondo para resaltar */
    border-radius: 5px;
    padding: 15px 0px;
     /* Le agregamos una alto debido a que las fotos son de distintos tamaños */
     img{
        height: 200px;
    }
}

.book:hover{
    background-color: #f0a652;
    color: white;
    /* Lo tenemos tres veces porque es para distintos navegadores  */
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}


.book-content{
    margin: auto;
    text-align: center;
    width: 150px;
}

.title-book-item{
    p{
        margin: 0px;
        font-weight: 700;
    }
}

.content-book-item{
    p{
        margin: 0px;
    }
}
@media screen and (max-width:1100px) {
    .library-container {
     width: 850px;
    }   
}
@media screen and (max-width:880px) {
    .library-container {
     width: 650px;
    }   
}
@media screen and (max-width:660px) {
    .library-container {
        display:block;
        width: 100%;
    }   
    .book-category-sidebar{
        margin-right: 0px;
        display: none;
    }
    .grid-container{
        justify-content: center;
    }
}
