.registration-section{
    margin: auto;
    width: 500px;
    padding: 0px 30px;
    h2{
        padding-left: 50px;
        padding-bottom: 20px;
        padding-top: 10px;
        margin: auto;
    }
}

.registration-container{
    border: solid rgb(232, 225, 225);
    padding: 50px;
    background-color: #f1edec;
    margin-bottom: 30px;
}

.form-field{
    margin-bottom: 25px;
    label{
        display: block;
        font-family: "Merienda";
    }
    .text-input{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
    input{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    select{
        font-size: 18px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    option{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

}

.registration-submit-button{
    text-align: right;
}

.registration-button{
    padding: 15px;
    font-size: 15px;
}

.registration-button:hover{
    background-color: #af887c;
}

.error{
    color: rgb(236, 34, 34);
    display: block;
}
